*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:rgb(243, 235, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: verdana;
}

.container{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow:10px 10px 30px rgba(0,0,0,0.3) ;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* start screen */
#start-screen h1{
    color:rgb(234, 101, 12);
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.quiz-header{
    margin-bottom: 2rem;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;

    margin-bottom: 10px;;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn{
    background-color: bisque;
    color: #333;
    border: 2px solid bisque;
    background-repeat: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all o.3s ease;
}

.answer-btn:hover{
    background-color: rgb(244, 175, 90);
    border-color: rgb(222, 126, 9);
}

.answer-btn.correct{
    background-color: #e6fff0;
    border: rgb(121, 233, 121);
    color: green;
}

.answer-btn.incorrect{
    background-color: #e6fff0;
    border:rgb(227, 180, 180);
    color: red;
}

.progress-bar{
    height: 10px;
    background-color: bisque;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    transition: width o.3s ease;
}

#result-screen h1{
    color: orange;
    margin-bottom: 30px;
}

#result-info{
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: orange;
}

button{
    background-color: rgb(252, 183, 54);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;

}

button:hover{
    background-color: orange;
}